.container {
  max-width: 1100px;
  margin:  0 auto;
  min-height: 100vh;
  background-color: #eee;
  padding: 20px;
}

.button-container {
  min-height: 90px;
  display: flex;
  align-items: self-end;
}

.search-container {
  margin-bottom: 30px;
}

.search-container h1 {
  margin-bottom: 30px;
}